body{
	
	text-align: center;
	height: 4000px;
	z-index: 0;
	position:relative;
	top: 330px;
	z-index:5px;
	margin-bottom:3px;
	margin-left: 150px;
	margin-right: 10px;
	background: #ffc0cb;
	border: 2px solid rgb(221, 115, 212);
	border-top: none;
}

.motto{
	margin-bottom: 20;
	color: blue;
}
.header{
		text-align:center;
	background:aqua;
	margin-bottom: 80px;
	position: fixed;
	right: 0px;
	left: 0px;
	top: 0px;

	
}

.img{
	border-radius:95px;
	margin-top: 9px;
	width: 190px;
	height:190px;
	
}
.nav{
	display: flex;
	flex-direction: row;
	background: black;
	justify-content:space-between;
	
}
.menu{
	position:absolute;
	left: 0px;
	bottom:0px;
	width: 129px;
	height: 800px;
	top: 375px;
	margin-right: 72px;
	margin-bottom: 15px;
	
	
}
.data{
	border: 1px solid;
	margin-top: 2px;
	margin-bottom:5px;
	height: 150px;
	background: white;
	
}
.profile{
	width: 120px;
	height: 120px;
	border-radius: 60px;
	
}

	.home{
		background-image:url("IMAGES/bg.jpg");
		height: 450px;
		right: 0px;
		top: 0px;
		margin:5px;
		color: red;
		font-size: 32px;
		z-index:0;
	}

	footer{
		background: blue;
		bottom: 0px;
		top: 3800px;
		position: relative;
		height: 150px;
		margin-bottom: 20px;
	}